body {
  margin: 0;
  color: #d7d7e6;
  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
}

h1 {
  font-size: 36px;
}

.layout {
  display: flex;
  min-height: 100%;
  width: 100%;
  height: 100vh;
}
@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column-reverse;
  }
}
.layout nav {
  background-color: #1e1e1e;
  padding: 1rem;
  display: flex;
}
@media (max-width: 768px) {
  .layout nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 0;
    border-top: 1px solid #3e3e42;
  }
}
.layout nav .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .layout nav .navigation {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    padding-bottom: 1rem;
    width: 100vw;
  }
  .layout nav .navigation img {
    display: none;
  }
}
.layout nav .navigation .menu {
  background-color: #3e3e42;
  list-style-type: none;
  margin-top: 1rem;
  padding: 12px;
  font-size: 24px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid #303033;
}
.layout nav .navigation .menu:hover {
  background-color: #5d5d63;
}
.layout nav .navigation-line {
  border-left: 1px solid #3e3e42;
  height: 100%;
  margin-left: 1rem;
}
.layout .page {
  background-color: #1e1e1e;
  padding: 1rem;
  width: inherit;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  .layout .page {
    width: auto;
    height: 100%;
    padding-bottom: 105px;
  }
}
.layout .page h1 {
  margin-top: 0;
}
.layout .page section {
  margin-top: 2rem;
}
.layout .page .what-you-can-do-today {
  margin-top: 1.5rem;
}
.layout .page .what-you-can-do-today .shortcuts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
}
.layout .page .what-you-can-do-today .shortcuts .shortcut {
  background-color: #3e3e42;
  border-bottom: 3px solid #303033;
  padding: 1rem;
  margin-top: 1rem;
  min-width: 160px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
.layout .page .what-you-can-do-today .shortcuts .shortcut:hover {
  background-color: #5d5d63;
}
@media (max-width: 414px) {
  .layout .page .what-you-can-do-today .shortcuts .shortcut {
    width: 100%;
  }
}
.layout .page .trendings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.layout .page .trendings .threads {
  margin-left: 0;
}
.layout .page .trendings .repositories {
  margin-left: 1rem;
}
.layout .card {
  background-color: #2d2d2d;
  min-width: 550px;
  max-width: 550px;
  padding: 16px;
  border-radius: 6px;
  border-bottom: 3px solid #303033;
}
@media (max-width: 550px) {
  .layout .card {
    max-width: 550px;
    min-width: 0px;
  }
}
.layout .card .header {
  display: flex;
  flex-direction: row;
}
.layout .card .header img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.layout .card .header .author {
  margin-left: 1rem;
}
.layout .card .header .author h3 {
  margin: 0;
  line-height: 32px;
}
.layout .card .header .author h5 {
  line-height: 14px;
  margin: 0;
  font-size: 12px;
  color: #a7a7b4;
}
.layout .card .content .arrow {
  float: right;
}
.layout .card .content p:first-of-type {
  margin-top: 1rem;
}
.layout .card .content p:last-of-type {
  margin-bottom: 0;
}
.layout .card-repository {
  background-color: #2d2d2d;
  min-width: 350px;
  max-width: 350px;
  padding: 16px;
  border-radius: 6px;
  border-bottom: 3px solid #303033;
}
@media (max-width: 350px) {
  .layout .card-repository {
    max-width: 350px;
    min-width: 0px;
  }
}
.layout .card-repository h3 {
  margin: 0;
  line-height: 32px;
}
.layout .card-repository h5 {
  line-height: 14px;
  margin: 0;
  font-size: 12px;
  color: #a7a7b4;
}
.layout .card-repository ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  font-size: 12px;
  cursor: pointer;
  margin-top: 0;
}
.layout .card-repository ul li {
  background-color: #3e3e42;
  border: 1px solid #303033;
  padding: 2px 8px 2px 8px;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.layout .card-repository ul li:hover {
  background-color: #5d5d63;
}
.layout button.small {
  background-color: #3e3e42;
  border: 1px solid #303033;
  padding: 2px 8px 2px 8px;
  border-radius: 1rem;
  margin-top: 0.5rem;
  color: #a7a7b4;
}

.arrow {
  border: solid #6b6b6b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

/*# sourceMappingURL=styles.css.map */
